{% extends "shared/base.html" %}


{% block title %}
  <title>Create a Blog Post</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create a Blog Post</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="title" value="{{title}}" placeholder="Blog Title">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Content</label>
          <textarea class="form-control" required name="Content" id="exampleFormControlTextarea1" rows="3">{{content}}</textarea>
          <div id="help" class="form-text">Please write the content of the blog post</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}