{% extends "shared/base.html" %}


{% block title %}
  <title>Delete Blogs</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center text-danger mb-3">Delete Blogs</h1>
    </div>
    <div id="result" class="text-danger text-bold lead"></div>
  </div>

  <div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
          {% for blog in blogs %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{blog.title}}</td>
                <td><button class="btn btn-danger btn-sm" onclick="delete_blog(blog.id)">Delete</button></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    function delete_blog(id){
        fetch('/delete_blog/'+id,{
            method:'DELETE',})
        .then(response => response.json())
        .then(document.getElementById('result').innerHTML = "Refreshing...")
        .then(data => document.getElementById('result').innerHTML = data.detail);
    }
</script>
{% endblock %}